<div class="row">
	<div class="span12">
		<h2><%=@user.username%>'s recent photos</h2>
		<div class="alert alert-message fade in">
			<a href="#" data-dismiss="alert" class="close">×</a>
		    	<strong>Holy guacamole! Welcome :)</strong>
		</div>
		<ul class="media-grid">
			<% @recent_media.each do |media| %>
			 	<li class="span3">
					<a href="<%=media.images.standard_resolution.url%>"><img  class="thumbnail" src="<%=media.images.thumbnail.url%>"></a>
				</li>
			<% end %>
		</ul>
		<div class="pagination">
			<ul>
				<li><a href="/feed?prev=<%=@prev%>">Prev</a></li>
				<li><a href="/feed?next=<%=@next%>">Next</a></li>
			</ul>
		</div>
	</div>
</div>
